.sidenavL {
	width: 200px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	overflow: hidden; /* Disable scroll */
	padding-top: 20px;
}
.sidenavR {
	width: 200px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	overflow: hidden; /* Disable scroll */
	padding-top: 10px;
}
.aligncenter {
	width: 100%;
	text-align: center;
}
			
.lowwidth {
	margin-left: 200px;
	margin-right: 200px;
}